{% extends 'smain_2/header.html' %}


{% block content %}

<br>
<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">Create new item</h5s>
  </div>
</div>
  <br>
  <a href="/newpost" class="btn btn-primary">Go</a>


<form method="POST" action="/newpost/item_title/">
  {% csrf_token %}

      <div class="form-group">
      <label for="item_title">Title</label>
      <input type="text" class="form-control" name="item_title" value="{{item_title}}">

      <input type="submit"  value="Submit">
      </div>
</form> -->
<h1> Profile </h1>
<div class="card mb-3" style="width: 600px; height: 200px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="" class="card-img" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{profile.username}}</h5>
        <p class="card-text">Bio:</p>
        <p class="card-text"><small class="text-muted">{{profile.bio}}</small></p>
      </div>
    </div>
  </div>
</div>



{% endblock %}
