{% extends 'smain_2/header.html' %}

{% load crispy_forms_tags %}

{% block content %}

   <div class="container">
     <br>
       <form method="POST">
         <div class="form-group">
         {% csrf_token %}
         {{form|crispy}}
             <button style="0background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>
         </div>
         </form>
         Don't have an account? <a href="/register" target="blank"><strong>register here</strong></a>!
    </div>

{% endblock %}
